*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    
}

header{
    position: fixed;
    right: 0;
    top: -2rem;
    z-index: 1000;
    width: 100%;
    display: flex ;
    align-items: center;
    justify-content: left;
    padding: 40px 9%;
    background: transparent;
    
}
.logo{
    font-size: 25px;
    font-weight: 600;
    color: black;
    display: inline-block;
    padding: 12px 30px;
    z-index: 1;
}
.navlist{
    display: flex;
    z-index: 1 ;
}
.navlist a{
    margin-left: 20px;
    font-size: 15px ;
    font-weight: 400;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
    color: gray;
}

#menu-icon{
    color: black;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
.hero{
    height: 100%;
    width: 100%;
    min-height: 150vh;
    justify-content: center;
    position: relative;
    display: grid;
    align-items: center;
}
section{
    padding: 0 19%;
    
}
.hero-text h1{
    font-size: 40px;
    line-height: 1;
    color:black;
    margin: 0 0 30px;
    text-align: center;
}
.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.hero-text h5{
    font-size: 10px;
    line-height: 1;
    color:green;
    margin-bottom: 1rem;
    border: 5px solid transparent;
    text-align: center;
    border-radius: 20rem;
    background-color: #d7fff2fc;
    font-weight: 300;
    padding: 3px;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
}
.hero-text h4{
    font-size: 10px;
    line-height: 1;
    color:green;
    margin-bottom: 1rem;
    border: 5px solid transparent;
    text-align: center;
    font-weight: 300;
    border-color: #d7fff2fc;
    border-radius: 2rem;
    padding: 3px 5px 3px 3px;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
}

.hero-text p{

    text-align: center;
    color: gray;
}
.hero-text a{
    margin-top: 2rem;
    display: inline-block;
    justify-items: center;
    color: white;
    background: #4d9559;
    border: 1px solid transparent;
    padding: 12px 30px;
    border-radius: 10px;

}
.hero-text a.ctaa{
    background: white;
    color: black;
    border: 1px solid;
    border-radius: 10px;
    
}

.imagelogo{
    width: 600px;
    height: 700px;
    display:flex;
    margin-top: -10rem;
    margin-left: -4.5rem;
}

@media (max-width: 412px) {
    header{
        padding: 50px 0 0 0px;
        justify-content: left;
        transition: .2s;
    }
    .hero{
        padding: 10px 10px 0 10px;
        
        transition: .2s;
    }
    .hero-text a{
        margin-top: -1rem ;
        display: flex;
        
    }
    .hero-text a.aa{
        position: relative;
        bottom: -5.7rem;
        display: flex;
        
    }
    .imagelogo{
        padding: 15px;
        height: 300px;
        width: 300px;
        margin-left: -2rem;
        
    }
    #menu-icon{
        display: block;
        margin-left: 13rem;
        justify-items: center;
        transition: .2s;
        
    }
    .navlist{
        
        display: none;
    }
    
}



